.hero {
  width: 100%;
  height: 85vh;
  position: relative;
}

.hero-midImage {
  width: 100%;
  height: 75vh;
  position: relative;
}

/* .hero-about h1 {
  padding-top: 3rem !important;
} */

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero img {
  /* padding-top: 4rem; */
  padding-top: 6rem;
  width: 85%;
  height: 100%;
  object-fit: cover;
}

.hero-midImage img {
  padding-top: 6rem;
  width: 85%;
  height: 100%;
  object-fit: cover;
}

.hero-title {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.hero-title h1 {
  padding-top: 5rem;
  font-size: 3rem;
  font-weight: 800;
  /* background: rgba(20, 0, 58, 0.945); */
  background: -webkit-linear-gradient(#eee, rgb(11, 3, 56));
  background-clip: text; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}